<% (dog_counter = dog_counter + 1) %>

<% if (dog_counter - 1).even? &&  dog_counter > 1 %>
  <%= image_tag("ad.jpg", class: "dog-photo") %>
<% end %>

<a href="<%= url_for(dog) %>">
  <article class="horizontal">
    <h2 class="dog-name"><%= dog.name %></h2>
    <%= image_tag url_for(dog.images.first), class: "dog-photo", alt: "Photo of #{dog.name}" %>
  </article>
</a>
